<footer id="adminpanel_footer">
    <section></section>
    <section class="text-gray-500">
        طراحی شده توسط 
        <a href="https://github.com/mahdic200" target="_blank" class="hover:text-teal-500 text-blue-400 cursor-pointer duration-150">
            mahdic200
        </a>
    </section>
</footer>