<header id="adminpanel_header">
    <section></section>
    <section>
        <section class="asideOpen">
            <span class="hover:text-white transition cursor-pointer">منو</span>
        </section>
    </section>
</header>