<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
    <%- include('./layouts/header.ejs') %>


    <main class="h-[50vh] text-center flex items-center justify-center bg-emerald-200">
        <p class="text-[3rem]">this is main</p>

    </main>

    <%- include('./layouts/footer.ejs') %>
    <script src="./js/index.js"></script>
</body>
</html>